#pizza
    h2
        font-size: 40px
        color: #e60707
        margin: 20px 0
    .imgbox
        border: 3px solid #ad0606
        border-radius: 20px
        margin-bottom: 20px
        img
            border: 3px solid #ad0606
            border-radius: 15px
            &:hover
                cursor: pointer
        h3
            text-align: center
            font-size: 30px
            margin: 10px 0 15px 8px
            color: #e2a808
        h4
            text-align: center
            font-size: 28px
            margin: 10px 15px 15px 0
            color: #0adb2d
